<div class="panel panel-primary">
    <div class="panel-heading">
       Home Page
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./favicon.ico" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Praveen Durvasula</h3>

            <div class="text-center">@dsmpraveen</div>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/praveen-durvasula-b7b947b/">Linked In</a>
            </div>
        </div>
    </div>
</div>